body {
  background-color: url("/public/images/bg.jpg") !important;
}

/* .home-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.carousel-container {
  width: 100%; 
  margin-bottom: 20px; 
}

.exam-section-container {
  width: 80%;
  margin: 0 auto;
}  */
