/* CivilServiceExamSection.css */
.civil-service-exam-section {
  width: 74%;
  margin: 40px auto 0;
  padding: 20px;
  background: linear-gradient(to right, #d8d8d8, #f8faf9);
  border-radius: 10px;
  border-bottom: 2px solid #0f0f0f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  /*text-align: left; /* 将标题左置 */
}

.exam-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.exam-images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.exam-divider-text {
  background-color: transparent; /* 设置背景颜色 */
  margin: 5px auto 0;
  color: #0f0f0f; /* 设置文本颜色 */
  padding: 10px; /* 设置内边距 */
  border-radius: 5px; /* 设置圆角 */
  text-align: center; /* 设置文本居中 */
  font-size: 24px; /* 设置字体大小 */
  font-weight: bold; /* 设置字体粗细 */
  width: 70%;
  border-bottom: 2px solid #0f0f0f; /* 添加下框线 */
}

.exam-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 2px; /* 右侧外边距 */
  margin-left: 20px; /* 右侧外边距 */
}

.exam-buttons button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exam-buttons button:hover {
  background-color: #2980b9;
}
